# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
*.lock
!pubspec.lock

# Coverage
coverage/

# IDE
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Logs
*.log

# Worktrees
.worktrees/
